<h1><%= @race.location %></h1>
<p>Terrain:   <%= @race.terrain %></p>
<p>Weather:   <%= @race.weather %></p>
<p>Length:    <%= @race.length %></p>
<p>Loop:      <%= @race.loop? %></p>
<p>Overnight: <%= @race.overnight %></p>


